CraftCode/.vs/CraftCode/v15/Server/sqlite3/storage.ide-wal
CraftCode/.vs/CraftCode/v15/Server/sqlite3/storage.ide-shm
CraftCode/.vs/CraftCode/v15/Server/sqlite3/storage.ide
CraftCode/.vs/CraftCode/v15/Server/sqlite3/db.lock
CraftCode/CraftCode/obj/*
CraftCode/CraftCode.Test/bin/
CraftCode/CraftCode.Test/obj/
